@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #171717;
    height: 5000px;
}

h3 {
    font-weight: 700;
    font-size: 50px;
}

.first-section-info {
    font-weight: 700;
    font-size: 20px;
}
.btn-call{
    background-color:#171717 ;
    border: 1px solid #E4B564;
    color: #E4B564;
    padding: 13px;
    font-size: 18px ;
    margin-left: 1170px;
}

.container {
    margin: auto;
    width: 1600px;

    font-family: "Montserrat";
    color: white;
}

.grid-item {
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 34px;
}

.grid-item-1 {
    background: #634F2C;
    width: 470px;
    height: 468px;

    grid-column-start: 1;
    grid-row-start: 1;

    grid-column-end: 3;
    grid-row-end: 3;
}

.grid-item-2 {
    background: #B4A385;
    width: 470px;
    height: 468px;

    grid-column-start: 3;
    grid-row-start: 1;

    grid-column-end: 5;
    grid-row-end: 3;
}

.grid-item-3 {
    background: #E4B564;
    width: 470px;
    height: 468px;

    grid-column-start: 5;
    grid-row-start: 1;

    grid-column-end: 7;
    grid-row-end: 3;
}

.grid-item-4 {
    background: #635A4A;
    width: 745px;
    height: 468px;

    grid-column-start: 1;
    grid-row-start: 3;

    grid-column-end: 4;
    grid-row-end: 6;
}

.grid-item-5 {
    background: #B08C4D;
    width: 745px;
    height: 468px;

    grid-column-start: 4;
    grid-row-start: 3;

    grid-column-end: 7;
    grid-row-end: 6;
}








.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 30px;
}

.grid-item-two {
    font-weight: 400;
    font-size: 20px;
    font-weight: 700;
    font-size: 20px;
    padding: 60px 100px 20px 60px;

}

.grid-item-two-1 {
    background: #0E0E0E;
    height: 300px;
    grid-column-start: 1;
    grid-row-start: 1;

    grid-column-end: 5;
    grid-row-end: 5;
}

.grid-item-two-2 {
    background: #242424;
    grid-column-start: 5;
    grid-row-start: 1;

    grid-column-end: 9;
    grid-row-end: 6;
}

.grid-item-two-3 {
    background: #1F1F1F;
    grid-column-start: 9;
    grid-row-start: 1;

    grid-column-end: 13;
    grid-row-end: 4;
}

.grid-item-two-4 {
    background: #1F1F1F;
    grid-column-start: 1;
    grid-row-start: 5;

    grid-column-end: 5;
    grid-row-end: 12;
}

.grid-item-two-5 {
    background: #E4B564;
    color: #0A0909;
    grid-column-start: 5;
    grid-row-start: 6;

    grid-column-end: 9;
    grid-row-end: 11;
}

.grid-item-two-6 {
    background: #0E0E0E;
    grid-column-start: 9;
    grid-row-start: 4;

    grid-column-end: 13;
    grid-row-end: 8;
}

.grid-item-two-7 {
    background: #0A0909;
    grid-column-start: 9;
    grid-row-start: 8;

    grid-column-end: 13;
    grid-row-end: 12;
}

.thin-text {
    font-weight: 200;
}





.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.grid-item-three {

    width: 395px;
    height: 270px;
    padding: 70px;
    display: flex;
    justify-content: space-around;


}

img {
    max-width: 200px;
    max-height: 50px;

}

.grid-item-three-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#634F2C;
}

.grid-item-three-2 {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8D2AB;
}


.grid-item-three-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
}

.grid-item-three-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635A4A;
}

.grid-item-three-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B08C4D;
}

.grid-item-three-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
}
.last-section-button{
    background-color:#171717 ;
    border: 1px solid #E4B564;
    color: #E4B564;
    padding: 13px;
    font-size: 18px ;
    float: right;
}
a{
    text-decoration: none;
}
